appnope==0.1.4
astroid==3.1.0
asttokens==3.0.0
attrs==25.1.0
black==24.3.0
bluesky-guidata==2022.9.15
bluesky-simdata==2022.9.15
clarabel==0.7.1
click==8.1.7
comm==0.2.2
contourpy==1.2.0
cvxpy==1.4.2
cycler==0.12.1
debugpy==1.8.12
decorator==5.1.1
dill==0.3.8
ecos==2.0.13
exceptiongroup==1.2.2
executing==2.2.0
fastjsonschema==2.21.1
fonttools==4.50.0
gurobipy==11.0.1
ipykernel==6.29.5
ipython==8.32.0
isort==5.13.2
jedi==0.19.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
kiwisolver==1.4.5
linkify-it-py==2.0.3
markdown-it-py==3.0.0
matplotlib==3.8.3
matplotlib-inline==0.1.7
mccabe==0.7.0
mdit-py-plugins==0.4.0
mdurl==0.1.2
msgpack==1.0.8
mypy-extensions==1.0.0
nbformat==5.10.4
nbstripout==0.8.1
nest-asyncio==1.6.0
networkx==3.2.1
numpy==1.26.4
osqp==0.6.5
packaging==24.0
pandas==2.2.1
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
pillow==10.2.0
platformdirs==4.2.0
prompt_toolkit==3.0.50
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pybind11==2.12.0
pygame==2.5.2
Pygments==2.17.2
pylint==3.1.0
PyOpenGL==3.1.7
pyparsing==3.1.2
PyQt6==6.6.1
PyQt6-Qt6==6.6.2
PyQt6-sip==13.6.0
PyQt6-WebEngine==6.6.0
PyQt6-WebEngine-Qt6==6.6.2
python-dateutil==2.9.0.post0
pytz==2024.1
pyzmq==25.1.2
qdldl==0.1.7.post1
referencing==0.36.2
rich==13.7.1
rpds-py==0.22.3
scipy==1.11.4
scs==3.2.4.post1
seaborn==0.13.2
six==1.16.0
stack-data==0.6.3
textual==0.54.0
tomli==2.2.1
tomlkit==0.12.4
tornado==6.4.2
traitlets==5.14.3
typing_extensions==4.10.0
tzdata==2024.1
uc-micro-py==1.0.3
wcwidth==0.2.13
zmq==0.0.0
